## Featuring Engineering : Scaling, Normalization, Standardization

In [1]:
# absolute Maximum scaling
import pandas as pd
import numpy as np
df=pd.read_csv("C:\\Users\\Rakesh\\Desktop\\career\\AI ML AND DL Practice\\Data\\SampleFile.csv")
df.head()

   LotArea  MSSubClass
0     8450          60
1     9600          20
2    11250          60
3     9550          70
4    14260          60

In [4]:
# To select numerical data
df1=df.select_dtypes(include=np.number)
df1.head()

   LotArea  MSSubClass
0     8450          60
1     9600          20
2    11250          60
3     9550          70
4    14260          60

In [5]:
# absolute max scaling
max_val=np.max(np.abs(df1),axis=0)
df2=df1/max_val
df2.head()

    LotArea  MSSubClass
0  0.039258    0.315789
1  0.044600    0.105263
2  0.052266    0.315789
3  0.044368    0.368421
4  0.066250    0.315789

In [12]:
# MinMaxScaler
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

scaler=MinMaxScaler()

df3=scaler.fit_transform(df1)

scaled_data=pd.DataFrame(df3,columns=df.columns)
df3
scaled_data.head()

    LotArea  MSSubClass
0  0.033420    0.235294
1  0.038795    0.000000
2  0.046507    0.235294
3  0.038561    0.294118
4  0.060576    0.235294

In [14]:
## Feature selection 

## Information gain

from sklearn.feature_selection import mutual_info_classif
from sklearn.datasets import load_iris

iris=load_iris()
X,Y=iris.data,iris.target
IG=mutual_info_classif(X,Y)
print("Information gain for each feature is : ",IG)

Information gain for each feature is :  [0.47718786 0.26229252 0.98145049 0.98739605]

In [15]:
# so in bove cell last two features are with good feature for feature selection

In [17]:
# lets calculate the feature selection with mutual information with diabetes dataset


import pandas as pd
from sklearn.feature_selection import mutual_info_regression 

df=pd.read_csv("C:\\Users\\Rakesh\\Desktop\\career\\AI ML AND DL Practice\\Data\\diabetes.csv")
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [25]:
X=df.columns[:-1]

In [26]:
X

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age'],
      dtype='object')

In [28]:
x=df[["Pregnancies","Glucose","BloodPressure","SkinThickness","Insulin","BMI","DiabetesPedigreeFunction","Age"]]

In [29]:
x.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [30]:
y=df["Outcome"]

In [31]:
y.head()

0    1
1    0
2    1
3    0
4    1
Name: Outcome, dtype: int64

In [32]:
mut_inf=mutual_info_regression(x,y)

In [35]:
print("Mutual information feature selection values",mut_inf)

Mutual information feature selection values [0.06994263 0.11677579 0.05206869 0.02028978 0.03291827 0.08641876
 0.01209445 0.05746485 0.58609704]

In [36]:
# for handling missing values

import pandas as pd
import numpy as np

data = {
    'School ID': [101, 102, 103, np.nan, 105, 106, 107, 108],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank', 'Grace', 'Henry'],
    'Address': ['123 Main St', '456 Oak Ave', '789 Pine Ln', '101 Elm St', np.nan, '222 Maple Rd', '444 Cedar Blvd', '555 Birch Dr'],
    'City': ['Los Angeles', 'New York', 'Houston', 'Los Angeles', 'Miami', np.nan, 'Houston', 'New York'],
    'Subject': ['Math', 'English', 'Science', 'Math', 'History', 'Math', 'Science', 'English'],
    'Marks': [85, 92, 78, 89, np.nan, 95, 80, 88],
    'Rank': [2, 1, 4, 3, 8, 1, 5, 3],
    'Grade': ['B', 'A', 'C', 'B', 'D', 'A', 'C', 'B']
}

df = pd.DataFrame(data)
print("Sample DataFrame:")

print(df)

Sample DataFrame:
   School ID     Name         Address         City  Subject  Marks  Rank Grade
0      101.0    Alice     123 Main St  Los Angeles     Math   85.0     2     B
1      102.0      Bob     456 Oak Ave     New York  English   92.0     1     A
2      103.0  Charlie     789 Pine Ln      Houston  Science   78.0     4     C
3        NaN    David      101 Elm St  Los Angeles     Math   89.0     3     B
4      105.0      Eva             NaN        Miami  History    NaN     8     D
5      106.0    Frank    222 Maple Rd          NaN     Math   95.0     1     A
6      107.0    Grace  444 Cedar Blvd      Houston  Science   80.0     5     C
7      108.0    Henry    555 Birch Dr     New York  English   88.0     3     B

In [38]:
# Handling missing values

# dropping the row with null values

df1=df.dropna()
print(df1.head())

   School ID     Name         Address         City  Subject  Marks  Rank Grade
0      101.0    Alice     123 Main St  Los Angeles     Math   85.0     2     B
1      102.0      Bob     456 Oak Ave     New York  English   92.0     1     A
2      103.0  Charlie     789 Pine Ln      Houston  Science   78.0     4     C
6      107.0    Grace  444 Cedar Blvd      Houston  Science   80.0     5     C
7      108.0    Henry    555 Birch Dr     New York  English   88.0     3     B

In [39]:
# df2 imputation 

df2_mean=df["Marks"].fillna(df["Marks"].mean())

In [40]:
df2_mean.head()

0    85.000000
1    92.000000
2    78.000000
3    89.000000
4    86.714286
Name: Marks, dtype: float64

In [42]:
df2_median=df["Marks"].fillna(df["Marks"].median())
df2_median.head()

0    85.0
1    92.0
2    78.0
3    89.0
4    88.0
Name: Marks, dtype: float64

In [45]:
df2_mode=df["Marks"].fillna(df["Marks"].mode().iloc[0])

In [46]:
df2_mode.head()

0    85.0
1    92.0
2    78.0
3    89.0
4    78.0
Name: Marks, dtype: float64

In [48]:
forward_fill=df["Marks"].bfill()

In [49]:
forward_fill.head()

0    85.0
1    92.0
2    78.0
3    89.0
4    95.0
Name: Marks, dtype: float64

In [52]:
backward_fill=df["Marks"].ffill()

In [54]:
backward_fill.head()

0    85.0
1    92.0
2    78.0
3    89.0
4    89.0
Name: Marks, dtype: float64

In [60]:
linear_interpolation=df["Marks"].interpolate(method="linear")

In [61]:
linear_interpolation.head()

0    85.0
1    92.0
2    78.0
3    89.0
4    92.0
Name: Marks, dtype: float64

In [64]:
quadratic_interpolation=df["Marks"].interpolate(method="quadratic")
quadratic_interpolation.head()

0    85.00000
1    92.00000
2    78.00000
3    89.00000
4    98.28024
Name: Marks, dtype: float64